<h2 class="container__title">Écrire un article</h2>
<div class="formulaire">
  <form action="/blog/ecrire" method="post" enctype="multipart/form-data">
    <div class="formulaire__input">
      <label for="title"></label>
      <input id="title" type="text" name="title" minlength="3" placeholder="Titre de l'article" value="<?=$titre?>" required>
    </div>

    <div class="formulaire__input">
      <textarea name="introduction" placeholder="Votre texte d'introduction"><?=$introduction?></textarea>
    </div>

    <div class="formulaire__input">
      <textarea name="message" placeholder="Votre article" required><?=$message?></textarea>
    </div>

    <div class="formulaire__input">
      <textarea name="conclusion" placeholder="Votre conclusion"><?=$conclusion?></textarea>
    </div>

    <div class="formulaire__input">
      <label for="thumbnail"></label>
      <input type="file" name="thumbnail">
    </div>

    <div class="formulaire__select">
      <label>Catégorie</label>
      <select name="category" required>
        <option value="">-- Choisir --</option>
        <?php foreach ($categories as $category) : ?>
        <option value="<?=$category['id']?>" <?php if (isset($post['category']) && $category['id'] == $post['category']) echo 'selected'; ?>><?=$category['title']?></option>
        <?php endforeach; ?>
      </select>
    </div>

    <div class="formulaire__button">
      <input type="submit" name="submit" value="Envoyer">
    </div>
  </form>

  <p class="formulaire__details">
    <a href="/register">Pas encore inscrit ?</a>
    <a href="/forget">Mot de passe oublier</a>
  </p>
</div>
