{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["each", "extend", "if", "else", "for", "include", "mixin", "content", "return", "function"]
      }
    ],
    "indentation": 3,
    "selector-list-comma-newline-after": "never-multi-line",
    "number-leading-zero": "never"
  }
}
