.alert {
  margin-bottom: 2em;

  &__message {
    position: relative;
    padding: .75em;
    border-bottom: 3px solid;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: .5em;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 25%);
      font-family: monospace;
      content: 'x';
    }

    &--success {
      border-color: darken($success, 15%);
      background: $success;
    }

    &--danger {
      border-color: darken($danger, 15%);
      background: $danger;
    }

    &--warning {
      border-color: darken($warning, 15%);
      background: $warning;
    }

    &--info {
      border-color: darken($info, 15%);
      background: $info;
    }
  }
}
