.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1em;
  padding: 0 .5rem;
  background: rgba(0, 0, 0, .5);

  a {
    padding: .5em;
    color: #fff;

    &:hover {
      background: rgba(255, 255, 255, .25);
    }
  }
}
