.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $font-major;
  font-size: 18px;

  &__block {
    width: 475px;
    min-height: 220px;
    margin: 25px 0; // width du container moins la width des blocs (1000 - (450 * 2)) / 4
    border-bottom: 4px solid #2b8bad;
    background: #eaeeee;
  }

  &__link {
    display: inline-block;
    min-width: 120px;
    background: #1bbc9b;
    color: #fff;
    line-height: 40px;
    text-align: center;
  }

  &__text {
    padding: 0 10px 10px;
    color: #1bbc9b;
  }
}
