<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><?=$title?></title>
  <link rel="stylesheet" href="<?=CSS?>/style.css">
</head>

<body>
  <nav class="navigation">
    <a href="/">HOME</a>
    <a href="/article">ARTICLES</a>
    <a href="/pagequiexistepas">404</a>
  </nav>

  <?php require_once(VIEW."$folder/$page.html"); ?>

</body>

</html>
