<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="<?=CSS?>/style.css">
</head>

<body>
  <nav class="navigation">
    <a href="/">HOME</a>
    <a href="/pages/contact">CONTACT</a>
    <a href="/pages/contacsst">FUCK OFF</a>
    <a href="/posts">POST</a>
  </nav>

  <?php require_once(CONF.'/routes.php'); ?>

</body>

</html>
