<h2 class="container__title">Inscription</h2>
<div class="formulaire">

  <?php if (isset($errors)) : ?>
    <ul class="alert">

      <?php foreach ($errors as $error) : ?>
      <li class="alert__message alert__message--danger"><?=$error?></li>
      <?php endforeach; ?>

    </ul>
  <?php endif; ?>

  <form action="/register" method="post" enctype="multipart/form-data">
    <div class="formulaire__input">
      <label for="pseudo">
        <img src="<?=IMG?>icons/person.png" alt="icon de profile">
      </label>
      <input id="pseudo" type="text" name="pseudo" minlength="3" maxlength="15" placeholder="Votre pseudo(Sans Espace,3 a 15 caracteres)*" value="<?=$pseudo?>" required>
    </div>

    <div class="formulaire__input">
      <label for="password">
        <img src="<?=IMG?>icons/mdp.png" alt="icon de mot de passe">
      </label>
      <input id="password" type="password" name="password" placeholder="Votre mot de passe*" required>
    </div>

    <div class="formulaire__input">
      <label for="confirm">
        <img src="<?=IMG?>icons/mdp.png" alt="icon de mot de passe">
      </label>
      <input id="confirm" type="password" name="confirmPassword" placeholder="Confirmation de mot de passe*" required>
    </div>

    <div class="formulaire__input">
      <label for="email">
        <img src="<?=IMG?>icons/mail.png" alt="icon d'e-mail">
      </label>
      <input id="email" type="email" name="email" placeholder="Votre email (utilisé pour confirmation de compte)*" value="<?=$email?>" required>
    </div>

    <div class="formulaire__input">
      <label for="avatar"></label>
      <input type="file" value="Avatar" name="avatar" placeholder="votre Avatar">
    </div>

    <div class="formulaire__button">
      <input type="submit" name="submit" value="Inscrire">
    </div>
  </form>

  <p class="formulaire__details">
    Les champs contenant (*) sont obligatoires, mais vous n'etes pas obligé de fournir un avatar , il vous serra donnés un unique.
    Un avatar d'au plus 64 Ko dans le cas contraire.
  </p>
</div>
