.article {
   &__header {
      display: flex;
   }

   &__thumbnail {
      position: relative;
      overflow: hidden;
      width: 60px;
      height: 60px;
      background: linear-gradient(to bottom, rgb(1, 128, 178) 0%, rgb(0, 172, 219) 50%, rgb(1, 128, 178) 100%);

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         min-width: 100%;
         max-width: 100%;
         min-height: 100%;
         transform: translate(-50%, -50%);
      }
   }

   &__title {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin: 0;
      padding-left: .5em;
      border-bottom: 2px solid #828080;
      background: #edebeb;
      font-size: em(23);
   }

   &__author {
      margin: 2em 0;

      img {
         max-height: 40px;
         margin-right: .5em;
         vertical-align: baseline;
      }
   }
}
