.header {
   &__major {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 12px 40px;
      background: #2b8bad;
      color: #fff;
      font-family: $font-major;
   }

   &__logo {
      display: inline-block;
      margin: 0;
      font-family: $font-bonus;
      font-size: 35px;
   }

   &__subscribe {
      display: flex;
      margin: 0;
      padding: 0;

      a {
         display: inline-block;
         margin-left: 5px;
         padding: 10px 15px;
         border: 2px solid #fff;
         border-radius: 2px;
      }
   }

   &__menu {
      position: absolute;
      top: 100%;
      right: 0;
      display: none;
      margin-top: -10px;
      color: green;
      text-align: center;

      ul {
         margin: 20px 0 0;
         padding: 0;
         border: 1px solid green;
         border-radius: 2px;
         background: #fff;
      }

      li {
         &:not(:first-child) {
            border-top: 1px solid green;
         }
      }

      a {
         display: inline-block;
         min-width: 150px;
         padding: 10px;
      }
   }

   &__nav {
      margin: 0 100px;

      a {
         display: inline-block;
         margin: 0 15px;
         padding: 5px 10px;

         &:first-child {
            margin-left: 0;
         }

         &:last-child {
            margin-right: 0;
         }
      }
   }

   &__search {
      flex-grow: 1;
   }

   &__search-bar {
      position: relative;
      display: inline-block;
      padding-bottom: 2px;

      &::after {
         position: absolute;
         right: 0;
         bottom: -2px;
         left: 0;
         height: 2px;
         background: #fff;
         content: '';
      }

      input, button {
         height: 2em;
         border: 0;
         background: transparent;
      }

      input {
         padding: .5em;
         color: inherit;
      }

      button {
         vertical-align: middle;
      }

      ::placeholder {
         color: inherit;
      }
   }

   &__member {
      position: relative;
      margin: 0;
      padding: 0;

      img {
         display: block;
         width: 35px;
         height: 35px;
      }
   }

   &__avatar {
      display: block;
      padding: 7px;
      border-radius: 100%;
      background: #edebeb;

      &:hover .header__menu {
         display: block;
      }
   }
}
